@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500&family=Red+Hat+Text:wght@400;500&display=swap');

html {
    font-family: 'Red Hat Text', sans-serif;
    font-size: 12px;
    background-color: rgb(233 233 233);
    color: rgb(42 42 42);
}

header, footer, article {
    margin-top: 2%;
    margin-bottom: 2%;
}

section + section {
    margin-top: 3rem;
}

h1, h2 {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 2.2rem;
}

a, span {
    font-family: inherit;
    text-decoration: none;
}

a {
    color: rgb(101 126 181);
}

a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(101 126 181);
}

footer p {
    font-size: 1rem;
}

p, li {
    font-family: 'Red Hat Text', sans-serif;
    font-size: 1.2rem;
} 

body {
    width: 100%;
    padding: 0% 10% 0% 10%;
    box-sizing: border-box;
    margin: 0%;
}

.line {
    border-top: solid;
    width: 60%;
    border-color: rgb(217 217 217);
}